<h2>Новый проект</h2>

<!-- When the form is submitted call the save() function within the controller -->
<form ng-submit="save()" class="form-vertical" name="projectForm">

    <!-- The control-group, control-label, and controls classes are Bootstrap specific -->
    <div class="form-group">
        <label class="control-label">Название проекта:</label>

        <div class="controls">
            <!-- This input is tied to the forum.name object. -->
            <input class="form-control" type="text" ng-model="project.name" required name="name"/>

            <!-- If there's any errors that pertain to name display them here! -->
            <div ng-repeat="error in errors.name">{{error}}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Описание проекта:</label>

        <div class="controls">
            <!-- This input is tied to the forum.name object. -->
            <textarea class="form-control" ng-model="project.description"
                      name="description"/>

            <!-- If there's any errors that pertain to name display them here! -->
            <div ng-repeat="error in errors.name">{{error}}</div>
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" value="Создать!"/>
        </div>
    </div>
</form>