<div ng-show="tasks.project_tasks.$resolved && tasks.project_tasks.length == 0">
    <div>
        <hr/>
        <h4>Здесь пока ничего нет...</h4>

        <p>Попробуйте добавить задачу</p>
    </div>
</div>
<table class="table table-bordered table-condensed" ng-if="tasks.project_tasks.$resolved && tasks.project_tasks.length">
    <tr>
        <th>Задача</th>
        <th>Сроки</th>
        <th>Исполнители</th>
        <th>Ресурсы</th>
        <th>Результаты</th>
        <th>Прочее</th>
    </tr>
    <tr ng-repeat="task in tasks.project_tasks">
        <td>{{$index+1}}. <a href ng-click="newOrEdit(task)">{{task.name}}</a></td>
        <td><span class="label label-default">{{task.begin_date | amDateFormat:'D.M.YYYY'}}</span> - <span class="label label-default">{{task.end_date | amDateFormat:'D.M.YYYY'}}</span></td>
        <td><div class="text-center"><unavailable/></div></td>
        <td><div class="text-center"><unavailable/></div></td>
        <td><div class="text-center"><unavailable/></div></td>
        <td><div class="text-center"><unavailable/></div></td>
    </tr>
</table>