<div ng-show="projects.$resolved && projects.length == 0">
    <hr/>
    <h4>Здесь пока ничего нет...</h4>

    <p>Попробуйте создать новый проект</p>
</div>

<div class="btn-toolbar">
    <a href="projects/new" class="btn btn-success">Добавить проект</a>
</div>

<table class="table table-hover" ng-if="projects.length">
    <tr>
        <th>Название</th>
        <th>Статус</th>
        <th>Ресурсы</th>
        <th>Сроки</th>
        <th>Состояние</th>
        <th></th>
    </tr>
    <tr ng-repeat="project in projects | orderBy:'name'">
        <td>{{project.name}}</td>
        <td>{{project.status}}</td>
        <td></td>
        <td>{{project.end_date}}</td>
        <td></td>
        <td><a class="btn btn-primary" href="projects/{{project.id}}">Просмотр</a></td>
    </tr>
</table>