<div class="table-responsive">
    <table class="table resources">
        <tbody>
        <tr>
            <th></th>
            <th colspan="{{calendar.length}}">Дата</th>
        </tr>
        <tr>
            <th>Ресурсы</th>
            <th ng-repeat="date in calendar">{{date.date | amDateFormat:'D MMM'}}.</th>
        </tr>
        <tr ng-if="res.resAvaible || showAll" ng-repeat="res in resoursable | orderBy: '-resAvaible'">
            <td>{{res.name}}</td>
            <td ng-repeat="date in calendar"
                ng-mouseleave="leaveAddButton(date,res)"
                ng-mouseenter="enterAddButton(date,res)">

                <ul class="list-unstyled"
                    dnd-list="date.resources"
                    dnd-drop="resDropped(date,res,item)">
                    <li ng-repeat="resource in date.resources"
                        ng-if="res.id == resource.$resoursable.id && res.class == resource.$resoursable.class"
                        dnd-draggable="resource"
                        dnd-effect-allowed="move"
                        dnd-moved="date.resources.splice($index, 1)"
                        dnd-disable-if="isResDisable(resource)">
                
                <span ng-style="getResStyle(resource)" ng-class="['label', {'label-primary': !isResDisable(resource)}, {'label-default': isResDisable(resource)}]"
                      ng-if="!resource._destroy"
                      popover-html-unsafe="{{getTooltip(resource)}}"
                      popover-trigger="mouseenter"
                      popover-placement="top">
                  <input ng-model="resource.time" ng-change="resTimeChanged(resource, date)" ng-blur="resBlur(date.resources, $index)" ng-disabled="isResDisable(resource)" />
                    ч.
                </span>
                    </li>
                    <button ng-click="addResToList(res, date)"
                            ng-if="date.hover && res.hover && isEmptyDate(date, res)"
                            ng-disabled="adderDisabled"
                            class="btn btn-default btn-xs adder" type="button">

                        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                        Добавить
                    </button>
                </ul>
            </td>
        </tr>
        <tr ng-if="!ngModel.length">
            <td colspan="{{calendar.length + 1}}">
                <div class="alert alert-warning" role="alert">
                    Пока что не добавлено ни одного ресурса
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<ui-select ng-model="select.res" style="width:200px" on-select="addResToList($item)">
    <ui-select-match placeholder="Добавить" allow-clear="true">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="res in resoursable | filter: $select.search | filter: {resAvaible: false || undefined} track by res.name">
        <div ng-bind-html="res.name | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>