<h2>Мои проекты</h2>

<div class="row">

    <div class="span9">

        <!-- This will only show when there's no items to let the user know there's purposefully nothing there.. -->
        <div ng-show="items.$resolved && items.length == 0">
            <hr/>
            <h4>Здесь пока ничего нет...</h4>

            <p>Попробуйте создать новый проект</p>
        </div>

        <!-- A nice table that will contain a list of Forums -->
        <table class="table table-hover">
            <!-- This will create a row for every item within our items object (both of these refer to the forums -->
            <tr ng-repeat="item in items">
                <td width="100%"><a href="#/project/{{item.id}}">{{item.name}}</a></td>

                <!-- When the user clicks this button it will call the 'destory()' method within the controller -->
                <td>
                    <button ng-click="destroy($index)" type="button" class="btn btn-danger btn-sm" aria-label="Destroy">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </table>

    </div>

    <div class="span3">

        <a href="#/project/new" class="btn btn-primary btn-block btn-large">Добавить проект</a>
        
        <br />

        <div class="well">
            <p>
                Добро пожаловать в прототип будующего приложения системы управления инновационными проектами.
                Прототип создан на Ruby on Rails и AngularJS.
            </p>
            <p>
               Попробуйте создать проект и задачи к нему чтобы протестировать протип веб приложения.
            </p>
        </div>

    </div>
</div>