<h2>Проект: {{project.name}}</h2>
<hr/>

<div ng-controller="ProjectTasksController">

    <!-- This will only show when there's no items to let the user know there's purposefully nothing there.. -->
    <div ng-show="project_tasks.$resolved && project_tasks.length == 0">
        <h4>Здесь пока ничего нет :(</h4>
        <p>Создайте первую задачу в этом проекте!</p>
    </div>

    <!-- Iterate over the comments -->
    <div class="media" ng-repeat="task in project_tasks | orderBy : 'begin_date'">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                    {{task.name}}: {{task.begin_date}} - {{task.end_date}}
                    <div class="pull-right" style="font-size: 12px;">
                        {{task.created_at}}
                    </div>
                </h4>
                <pre>{{task.description}}</pre>
            </div>
        </div>
    </div>

    <hr/>

    <!-- This is the form to create a comment -->
    <form ng-submit="save()">
        <div class="form-group col-md-12">
            <div class="col-md-4 col-lg-3 text-right">
                <label>Название задачи</label>
            </div>
            <div class="col-md-6 col-lg-7">
                <input type="text" ng-model="name" class="form-control" >
            </div>
        </div>
        <div ng-repeat="error in errors.name" class="alert alert-error"><strong>Название</strong> {{error}}</div>

        <div class="form-group col-md-12">
            <div class="col-md-4 col-lg-3 text-right">
                <label>Сроки</label>
            </div>
            <div class="col-md-6 col-lg-7">
                от <input type="date" ng-model="begin_date" class="form-control" > до <input type="date" ng-model="end_date" class="form-control" >
            </div>
        </div>
        <div ng-repeat="error in errors.begin_date" class="alert alert-error"><strong>Название</strong> {{error}}</div>
        <div ng-repeat="error in errors.end_date" class="alert alert-error"><strong>Название</strong> {{error}}</div>

        <div class="form-group col-md-12">
            <div class="col-md-4 col-lg-3 text-right">
                <label>Описание задачи</label>
            </div>
            <div class="col-md-6 col-lg-7">
                <textarea ng-model="description" class="form-control" rows="5" ></textarea>
            </div>
        </div>
        <div ng-repeat="error in errors.description" class="alert alert-error"><strong>Название</strong> {{error}}</div>

        <button type="submit" class="btn btn-primary btn-large">Добавить задачу проекта</button>
    </form>
</div>
