<div class="well well-sm pull-right statuses">
    <span class="label" ng-style="{'background-color': status.color}" ng-repeat="status in project_statuses">{{status.name}}</span>
</div>
<div ng-repeat="project in projects">
    <h2><a ng-href="/projects/{{project.id}}/tasks">{{project.name}}</a></h2>
    <button type="button" class="btn btn-success" ng-click="newOrEdit(project.id)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Добавить задачу проекта
    </button>
    <div id="svg-grantt-{{project.id}}"></div>
</div>