<div class="panel panel-info pull-right statuses">
    <div class="panel-heading">Статусы задач</div>
    <div class="panel-body">
        <span class="label" ng-repeat="status in project_task_statuses" ng-style="{'background-color': status.color}">{{status.name}}</span>
    </div>
</div>
<div ng-repeat="project in projects">
    <h2><a ng-href="/projects/{{project.id}}/tasks">{{project.name}}</a></h2>
    <button type="button" class="btn btn-success" ng-click="newOrEdit(project.id)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Добавить задачу проекта
    </button>
    <div id="svg-grantt-{{project.id}}"></div>
</div>