<div class="row" ng-controller="MainCtrl as main">
    <div class="col-md-10">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Оперативная информация</div>
            <div class="panel-body">
                <h3>Последние задачи</h3>
                {{path}}
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="task in last_tasks"><span><strong>{{task.project.name}}:</strong> {{task.name}}</span><small class="pull-right">{{task.created_at | date:'d MMMM'}}</small></li>
            </ul>
        </div>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-repeat="tab in tabs" ng-click="active_tab = tab" ng-class="{'active':active_tab==tab}"><a ng-href="{{tab.link}}" ng-disabled="tab.disabled">{{tab.label}}</a></li>
        </ul>
        <div ng-view></div>
    </div>
    <div class="col-md-2 right-panel">
        <div class="row">
            <img src="http://dummyimage.com/600x600/666566/030305&text=User+avatar" class="img-responsive">
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary col-xs-12" aria-label="Left Align" disabled>
                Профиль
            </button>
        </div>
        <div class="row">
            <div class="panel panel-default">
            <div class="panel-heading"><strong>Задачи</strong></div>
            <ul class="list-group">
                <li class="list-group-item">Выполнено: <strong>0</strong></li>
                <li class="list-group-item">В процессе: <strong>0</strong></li>
                <li class="list-group-item">На будущее: <strong>0</strong></li>
                <li class="list-group-item">Проекты: <strong>0</strong></li>
                <li class="list-group-item">Встречи: <strong>0</strong></li>
            </ul>
            </div>
        </div>
        <div class="row col-sx-12">
            <div class="btn-group btn-group-justified" role="group">
                <a href="#" class="btn btn-default" title="Почта" disabled><%=fa_icon 'envelope-o'%></a>
                <a href="#"  class="btn btn-default" title="Встречи" disabled><%=fa_icon 'users'%></a>
                <a href="#"  class="btn btn-default" title="Совещания" disabled><%=fa_icon 'user-plus'%><%=fa_icon 'bar-chart'%></a>
            </div>
        </div>
    </div>
</div>