<% unless @current_user%>
    <div class="col-md-8">
        <div class="jumbotron">
            <h2>Добро пожаловать в <span class="label label-success">Startup Master</span></h2>
            <p>
              Приглашаем вас протестировать альфа версию системы для эффективного управления инновационными проектами.
              Интерфейс и архитектура этой системы управления обладает рядом преимуществ, которые
              позволяют эффективно работать в команде в условиях стартапа.
            </p>
            <p><a class="btn btn-primary btn-lg" href="/register" role="button">Зарегистрироваться</a></p>
        </div>
          <div class="panel panel-default">
            <div class="panel-body">
                <%= render 'users/new' %>
            </div>
          </div>
    </div>
    <div class="col-md-4">

          <div class="row">
            <div class="thumbnail">
              <img src="https://dummyimage.com/600x300/666566/030305&text=Интерфейс" alt="...">
              <div class="caption">
                <h3>Интерфейс заточенный под нужды стартапа</h3>
                <p>На виду всегда вся необходимая информация в нужной форме и ничего лишнего!</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="thumbnail">
              <img src="https://dummyimage.com/600x300/666566/030305&text=Диграммы" alt="...">
              <div class="caption">
                <h3>Диграммы и календари</h3>
                <p>Все необходимые диаграммы и календари так-же в наличии и в лучшем виде: с динамикой и приятным интерфейсом</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="thumbnail">
              <img src="https://dummyimage.com/600x300/666566/030305&text=Админка" alt="...">
              <div class="caption">
                <h3>Административная панель для управления всеми объектами</h3>
                <p>Иногда требуется очень гибкое и расширенное управление объектами, которое может дать только полноценный
                  административный интерфейс с таблицами, фильтрацией и всеми данными объектов.</p>
              </div>
            </div>
      </div>
    </div>
<% else %>
    <div ng-app="app">
      <div ui-view></div>
    </div>
<% end %>