<div ng-controller="MainCtrl as main">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Оперативная информация</div>
        <div class="panel-body">
            <h2>Последние задачи</h2>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="task in last_tasks"><span>{{task.name}}</span><small class="pull-right">{{task.created_at | date:'d MMMM'}}</small></li>
        </ul>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <div ng-view></div>
</div>